option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: eu-west-1
    FLASK_ENV: production
    API_GATEWAY_URL: https://mk9humh7rf.execute-api.eu-west-1.amazonaws.com/Prod
    
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    RetentionInDays: 7
    
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /worker/health
    Port: 8000
    Protocol: HTTP
